.grid-container {
    left : 50%;
    top : 50%;
    position : absolute;
    transform : translate(-50%,-50%) scaleX(0.7);
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 10px;
	background-color: #f1f1f1;
    border: 1px solid black;
	padding: 10px;

}

.grid-item {
	background-color: #ccc;
	border: 1px solid black;
	text-align: center;
	font-size: 30px;
	padding: 20px;
}
.grid-item:hover{
    color : blue;
}
#affichage{
    position : absolute;
    width : 375px;
    height : 100px;
    left :50%;
    top : 12%;
    transform : translate(-50%,-50%) scaleX(0.7);
    border: 1px solid black;
}